<!DOCTYPE html>
<html lang="fa-IR">
<head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="author" content="M. MAD">
<link rel="icon" type="image/png" href="../../favicon.png">
<link rel="stylesheet" href="../scientists_style.css">
<link rel="stylesheet" href="../fonts.css">
</head>
<body dir="rtl" align="right">
<h1 class="scientist-heading scientist-text-heading">{{header}}</h1>
<div class="scientist-pic-div scientist-heading">
<img class="scientist-pic" src="{{pic}}">
</div>
<table>
  <tr>
    <td><b class="table-pseudo-heading">نام:</b><br>{{name}}</td>
    <td><b class="table-pseudo-heading">زاده:</b><br>{{born}}</td>
  </tr>
  <tr>
    <td><b class="table-pseudo-heading">درگذشت:</b><br>{{died}}</td>
    <td><b class="table-pseudo-heading">جنسیت:</b><br>{{"مرد" if gender else "زن"}}</td>
  </tr>
  <tr>
    <td><b class="table-pseudo-heading">ملیت:</b><br>{{nationality}}</td>
    <td><b class="table-pseudo-heading">محل تحصیل:</b><br>{{alma_mater}}</td>
  </tr>
  <tr>
    <td><b class="table-pseudo-heading">شناخته‌شده برای:</b><br>{{known_for}}</td>
    <td><b class="table-pseudo-heading">جایزه‌ها:</b><br>{{awards}}</td>
  </tr>
  <tr>
    <td colspan="2"><b class="table-pseudo-heading">برچسب‌ها:</b><br>{{tags}}</td>
  </tr>
</table>
<div class="fa-IR-explanation">
<h2 class="fa-IR-explanation-header">توضیحات</h2>
{{_content}}
</div>
</body>
</html>
